<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>649952882703-nc67fsjng0telu843l1j5vr92vi8a698.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649952882703-nc67fsjng0telu843l1j5vr92vi8a698</string>
	<key>API_KEY</key>
	<string>AIzaSyCgStzUh8mLVyOfPFFBnMLj5hAoPF83j2s</string>
	<key>GCM_SENDER_ID</key>
	<string>649952882703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.milton.SmallSteps</string>
	<key>PROJECT_ID</key>
	<string>small-steps-little-victories</string>
	<key>STORAGE_BUCKET</key>
	<string>small-steps-little-victories.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:649952882703:ios:8b8ee7f4be2448a8</string>
	<key>DATABASE_URL</key>
	<string>https://small-steps-little-victories.firebaseio.com</string>
</dict>
</plist>