<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>428960497655-a83ejn9tt0uo68igrt41n3s7qm5l2939.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428960497655-a83ejn9tt0uo68igrt41n3s7qm5l2939</string>
	<key>API_KEY</key>
	<string>AIzaSyCIPb-lKvzYs0V55i_fPGer6nP6nK_47I4</string>
	<key>GCM_SENDER_ID</key>
	<string>428960497655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>milton.HealthApp</string>
	<key>PROJECT_ID</key>
	<string>project-8917071748719327306</string>
	<key>STORAGE_BUCKET</key>
	<string>project-8917071748719327306.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:428960497655:ios:2013f01656ccdaa4</string>
	<key>DATABASE_URL</key>
	<string>https://project-8917071748719327306.firebaseio.com</string>
</dict>
</plist>